{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{%static 'list.css' %}"

{%block content%}
<section class="card card-lg" id="about-about"><h2 class="text-xxl m-b text-xxs-center"><center>About</center></h2><div class="text-xs text-justify m-x-auto" style="max-width: 74rem;">
<p class="m-b-xs">

A smart society is an urban development vision to integrate multiple information and communication technology (ICT) and Internet of Things (IoT) solutions in a secure fashion to manage a society's assets.
A smart society brings together technology, government and society to enable the following characteristics: smart infrastructures, a smart economy, smart mobility, a smart environment, smart people, smart living, and smart governance.<br>
Our project smart society includes sectors such as:<br>

<br><br>
 
<div class="mylist">

  <ul>
    <li><a href="#">1. Home Automation and Security System</a></li>
    <br>
    <li><a href="#">2. Smart Parking System</a></li>
    <br>
    <li><a href="#">3. Traffic Control and Supervision</a></li><br>
    <li><a href="#">4. Garbage Management System</a></li>
    <br>
    <li><a href="#">5. Garbage Management System</a></li>
    <br>
    <li><a href="#">6. Weather Forecast</a></li>
     <br>
     <li><a href="#">7. Welcome and Exit Screen</a></li>
  </ul>
  </div>
</p></div></section>
{%endblock%}

