{%load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<title>
		/home/unique/Documents/bootstrap-3.3.7-dist/css/bootstrap.css
		Testing Django
	</title>
	 <meta name="viewport" content="width=device-width", initial-scale=1">
	 
	 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'main.css' %}">

</head>
<body>

{% block content%}

{% endblock content%}
</body>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
</html>